/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2015, 10:24:26 AM
    Author     : Student
*/

h1 {
    font-family: 'VT323', ;
}


html {
    background-color: khaki;
}