/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 2, 2015, 9:10:20 AM
    Author     : Student
*/

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Slackey', cursive;
}

html {
    background-color: orange;
}  