/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2015, 9:06:58 AM
    Author     : Student
*/

h1 {
    color: green;
    background-color: red;font-family: 'Indie Flower', cursive;
    
    
}

#logo {
    text-align: center;
    margin: 0;
}

h2 {
    background-color: crimson;
    font-family: 'Shadows Into Light', cursive;
    
}

header {
    text-align: center;
    background-color: chartreuse;
}

h2.selected, h2:hover {
    color: darksalmon;
}
  
    #gallery li {
     float: left;
     width: 45%;
     margin: 2.5%;
    }
    
    .mowing-photo {
       display: block;
       max-width: 0 auto 30px;
       border-radius: 35%; 
       border-color: activecaption;
       color: blueviolet;
    }
    
    #wrapper {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    img {
        max-width: 100%;
    }
    
    .life-photo {
        border-radius: 35%;
    }
    
    #gallery2 {
      margin: 0 5px;
      padding: 5%;
      height: 30px;
      width: 30px;
      list-style: none;
    }
      #wrapper {
       max-width: 940px;
       margin: 0 auto;
       padding: 0 5%;
      }
       #gallery {
        margin: 0;
        padding: 0;
        list-style: none;
            
       }
       
      th,td
      {
       border: 1px solid black;
       padding: 5px;
       width: 20%;
     
      }  
    