/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2015, 8:38:58 AM
    Author     : Student
*/

.top {
    position:absolute;
    left:0; right:0;
    height: 92px;
}
.left {
    position:absolute;
    left:0; top:92px; bottom: 0;
    width: 178px;
}
.main {
    position: absolute;
    left:178px; top:92px; right:0; bottom:0;
}

pre{ 
  font-size:  medium;
}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="Generator" content="iWeb 3.0.4">
    <meta name="iWeb-Build" content="local-build-20130408">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <meta name="viewport" content="width=700">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="screen,print" href="Home_files/Home.css">
    <!--[if lt IE 8]><link rel='stylesheet' type='text/css' media='screen,print' href='Home_files/HomeIE.css'/><![endif]-->
    <!--[if gte IE 8]><link rel='stylesheet' type='text/css' media='screen,print' href='Media/IE8.css'/><![endif]-->
    <script type="text/javascript" src="Scripts/iWebSite.js"></script>
    <script type="text/javascript" src="Scripts/Widgets/SharedResources/WidgetCommon.js"></script>
    <script type="text/javascript" src="Scripts/Widgets/Navbar/navbar.js"></script>
    <script type="text/javascript" src="Home_files/Home.js"></script>
  <style type="text/css">div#widget0 .navbar {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: .85em;
	color: #999;
	margin: 0px;
	line-height: 20px;
	font-weight: bold;
}

div#widget0 .navbar-bg {
	text-align: left;
	padding: 0px;
}

div#widget0 .navbar-bg ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}


div#widget0 li {
	list-style-type: none;
	display: inline;
	padding: 0px 15px 0px 10px;
}


div#widget0 li a {
	text-decoration: none;
	color: #999;
}

div#widget0 li a:visited {
	text-decoration: none;
	color: #999;
}

div#widget0 li a:hover
{
 	color: #F00;
	text-decoration: none;
}


div#widget0 li.current-page a
{
	 color: #666;
	text-decoration: none;

}</style></head>
          


          <div id="id3" style="height: 27px; left: 4px; position: absolute; top: 145px; width: 692px; z-index: 1; " class="style_SkipStroke_1 shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_692_27" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_2"><span style="line-height: 19px; " class="style">Discipline&nbsp;&nbsp; *&nbsp;&nbsp; Balance&nbsp;&nbsp; *&nbsp;&nbsp; Respect&nbsp;&nbsp; * Flexibility&nbsp;&nbsp; *&nbsp;&nbsp; Coordination&nbsp;&nbsp; *&nbsp;&nbsp; Focus&nbsp;&nbsp; *&nbsp;&nbsp; Strength</span></p>
              </div>
            </div>
          </div>
          


          <div id="id4" style="height: 46px; left: 94px; position: absolute; top: 637px; width: 470px; z-index: 1; " class="style_SkipStroke_1 shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_470_46" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-top: 0pt; " class="paragraph_style_1">G3 Academy&nbsp;&nbsp; 303 W. Sierra Madre Blvd.&nbsp;&nbsp; Sierra Madre, CA.<br></p>
                <p style="padding-bottom: 0pt; " class="paragraph_style_1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 626 773-6876</p>
              </div>
            </div>
          </div>
          <a href="mailto:gary@g3academy.com" title="mailto:gary@g3academy.com"><img src="Home_files/message-me.png" alt="Email Me" style="border: none; height: 36px; left: 575px; position: absolute; top: 425px; width: 119px; z-index: 1; ">

</a>
          <div style="height: 683px; line-height: 683px; " class="spacer">&nbsp;</div>
        </div>
        <div style="height: 100px; margin-left: 0px; position: relative; width: 700px; z-index: 15; " id="footer_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper">&nbsp;</div>
        </div>
      </div>
    </div>
  



</body></html>
